run = "npm start"
entrypoint = "server.js"
modules = ["nodejs-20", "postgresql-16"]

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm ci --omit=dev"]

[[ports]]
localPort = 3000
externalPort = 80
